# Agenda, day 3

1. Q&A
2. Sorting
3. Grouping (basic, advanced)
4. Pivot tables
5. Joining
6. Cleaning our data
7. Plotting
8. AMA -- ask me anything
9. What's next?

# Sorting

In Python, we have two ways to sort things:

- `list.sort` method, which changes the list (so we try to avoid using it)
- `sorted` builtin function, which takes any sequence of values and returns a list, with them in ascending order

You don't want to use `sorted` with a Python series or data frame! If it works,  it'll be very slow and it won't give you the control that you want.

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = 'taxi.csv'

df = pd.read_csv(filename,
                 index_col='tpep_pickup_datetime')
df

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [3]:
# how can I sort this?

# first: I want to find the shortest trip distance
df['trip_distance']

tpep_pickup_datetime
2015-06-02 11:19:29    1.63
2015-06-02 11:19:30    0.46
2015-06-02 11:19:31    0.87
2015-06-02 11:19:31    2.13
2015-06-02 11:19:32    1.40
                       ...
2015-06-01 00:12:59    2.70
2015-06-01 00:12:59    4.50
2015-06-01 00:13:00    5.59
2015-06-01 00:13:02    1.54
2015-06-01 00:13:04    5.80
Name: trip_distance, Length: 9999, dtype: float64

In [4]:
# we can run the sort_values method on a series, and we'll get the values back, sorted from smallest to largest
# (in ascending order)

df['trip_distance'].sort_values()

tpep_pickup_datetime
2015-06-01 00:12:13     0.00
2015-06-04 15:18:09     0.00
2015-06-02 11:23:46     0.00
2015-06-01 00:08:03     0.00
2015-06-01 00:07:43     0.00
                       ...
2015-06-04 15:17:25    34.84
2015-06-02 11:21:03    35.51
2015-06-01 00:02:42    37.20
2015-06-01 00:04:50    60.30
2015-06-01 00:00:58    64.60
Name: trip_distance, Length: 9999, dtype: float64

In [5]:
# I want the 10 shortest trips

df['trip_distance'].sort_values().head(10)

tpep_pickup_datetime
2015-06-01 00:12:13    0.0
2015-06-04 15:18:09    0.0
2015-06-02 11:23:46    0.0
2015-06-01 00:08:03    0.0
2015-06-01 00:07:43    0.0
2015-06-04 15:23:02    0.0
2015-06-06 16:51:57    0.0
2015-06-04 15:18:40    0.0
2015-06-01 00:03:44    0.0
2015-06-04 15:17:31    0.0
Name: trip_distance, dtype: float64

In [6]:
# I want the 10 longest trips

df['trip_distance'].sort_values().tail(10)

tpep_pickup_datetime
2015-06-01 00:00:16    29.78
2015-06-01 00:09:14    31.50
2015-06-01 00:00:13    31.90
2015-06-02 11:28:58    32.10
2015-06-01 00:01:19    32.40
2015-06-04 15:17:25    34.84
2015-06-02 11:21:03    35.51
2015-06-01 00:02:42    37.20
2015-06-01 00:04:50    60.30
2015-06-01 00:00:58    64.60
Name: trip_distance, dtype: float64

In [8]:
# another way:

df['trip_distance'].sort_values(ascending=False).head(10)

tpep_pickup_datetime
2015-06-01 00:00:58    64.60
2015-06-01 00:04:50    60.30
2015-06-01 00:02:42    37.20
2015-06-02 11:21:03    35.51
2015-06-04 15:17:25    34.84
2015-06-01 00:01:19    32.40
2015-06-02 11:28:58    32.10
2015-06-01 00:00:13    31.90
2015-06-01 00:09:14    31.50
2015-06-01 00:00:16    29.78
Name: trip_distance, dtype: float64

In [9]:
# why don't we just have a "sorted" function or method for Pandas?
# we don't always want to sort by the value. Sometimes, we want to sort by the index.

df['trip_distance'].sort_index()

tpep_pickup_datetime
2015-06-01 00:00:00     1.00
2015-06-01 00:00:00     1.40
2015-06-01 00:00:00     0.90
2015-06-01 00:00:01     8.15
2015-06-01 00:00:01     1.20
                       ...
2015-06-06 16:53:56     1.20
2015-06-06 16:53:56     1.30
2015-06-06 16:53:56    17.36
2015-06-06 16:53:56     0.58
2015-06-06 16:53:57     0.50
Name: trip_distance, Length: 9999, dtype: float64

In [10]:
df['trip_distance'].sort_index(ascending=False)

tpep_pickup_datetime
2015-06-06 16:53:57    0.50
2015-06-06 16:53:56    0.76
2015-06-06 16:53:56    3.20
2015-06-06 16:53:56    1.31
2015-06-06 16:53:56    1.36
                       ...
2015-06-01 00:00:01    1.20
2015-06-01 00:00:01    7.41
2015-06-01 00:00:00    1.00
2015-06-01 00:00:00    1.40
2015-06-01 00:00:00    0.90
Name: trip_distance, Length: 9999, dtype: float64

In [11]:
df['trip_distance'].sort_index().head(10)

tpep_pickup_datetime
2015-06-01 00:00:00    1.00
2015-06-01 00:00:00    1.40
2015-06-01 00:00:00    0.90
2015-06-01 00:00:01    8.15
2015-06-01 00:00:01    1.20
2015-06-01 00:00:01    7.41
2015-06-01 00:00:02    5.51
2015-06-01 00:00:02    9.04
2015-06-01 00:00:02    4.52
2015-06-01 00:00:03    2.59
Name: trip_distance, dtype: float64

# Sorting a series/column

When you sort a series(column), you can choose between:'

- `sort_values`, to get a new series back based on the values, sorted in ascending order (by default)
- `sort_index`, to get a new series back based on on the index, sorted in ascending order (by default)

# What about sorting data frames?

Remember that if you know a method for a series, then you probably know that method for a data frame, too. Applying it to the data frame will work on all of the columns.

In this case, that's *definitely* true for `sort_index`. You can run `sort_index` on a data frame, and it'll work just fine, sorting the rows of the data base based on the index values.

In [12]:
df.sort_index()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30
2015-06-01 00:00:01,1,2015-06-01 00:08:26,3,1.20,-73.981827,40.770767,1,N,-73.994957,40.764378,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-06 16:53:56,1,2015-06-06 17:00:40,1,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,1,6.5,0.0,0.5,2.19,0.00,0.3,9.49
2015-06-06 16:53:56,1,2015-06-06 17:00:10,1,1.30,-73.973396,40.789967,1,N,-73.958511,40.779106,1,6.5,0.0,0.5,1.45,0.00,0.3,8.75
2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
2015-06-06 16:53:56,2,2015-06-06 16:56:18,1,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75
2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80

In [13]:
# what about sort_values? 

df.sort_values()   # this raises the question -- by which values? By which column?

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [14]:
df.sort_values('trip_distance')

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:12:13,1,2015-06-01 00:13:47,1,0.00,-74.005714,40.740582,1,N,-74.005417,40.740803,3,3.00,0.5,0.5,0.00,0.00,0.3,4.30
2015-06-04 15:18:09,1,2015-06-04 15:18:09,2,0.00,-74.002953,40.749256,1,N,0.000000,0.000000,2,3.00,0.0,0.5,0.00,0.00,0.3,3.80
2015-06-02 11:23:46,2,2015-06-02 11:24:07,4,0.00,-73.956963,40.766392,1,N,-73.956970,40.766418,2,2.50,0.0,0.5,0.00,0.00,0.3,3.30
2015-06-01 00:08:03,2,2015-06-01 00:08:08,1,0.00,-73.962463,40.755138,2,N,-73.962463,40.755138,1,52.00,0.0,0.5,10.56,0.00,0.3,63.36
2015-06-01 00:07:43,1,2015-06-01 00:07:43,1,0.00,-74.007530,40.740753,1,N,0.000000,0.000000,2,5.00,0.5,0.5,0.00,0.00,0.3,6.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.00,17.29,0.3,137.59
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.00,22.83,0.3,135.13
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.00,5.84,0.3,210.14
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.00,9.75,0.3,160.05
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.00,10.00,0.3,79.96

In [15]:
df.sort_values('trip_distance', ascending=False)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.00,10.00,0.3,79.96
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.00,9.75,0.3,160.05
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.00,5.84,0.3,210.14
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.00,22.83,0.3,135.13
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.00,17.29,0.3,137.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:01:38,1,2015-06-01 00:01:53,1,0.00,-74.005486,40.711548,2,N,-74.005661,40.711765,1,52.00,0.0,0.5,10.55,0.00,0.3,63.35
2015-06-04 15:17:31,2,2015-06-04 15:17:34,1,0.00,0.000000,0.000000,5,N,0.000000,0.000000,1,105.00,0.0,0.0,21.06,0.00,0.3,126.36
2015-06-01 00:01:20,1,2015-06-01 00:01:44,1,0.00,-73.838593,40.932640,5,N,-73.838593,40.932644,1,30.00,0.0,0.0,0.00,0.00,0.3,30.30
2015-06-02 11:21:38,2,2015-06-02 11:21:44,1,0.00,0.000000,0.000000,2,N,0.000000,0.000000,1,52.00,0.0,0.5,13.20,0.00,0.3,66.00
2015-06-04 15:20:14,1,2015-06-04 15:51:15,4,0.00,-74.005005,40.735859,1,N,-73.991280,40.744961,2,18.00,0.0,0.5,0.00,0.00,0.3,18.80

In [20]:
# what if we want to sort by *two* columns? That is, maybe I want to sort primarily by trip_distance,
# but secondarily by total_amount. 

# I can pass sort_values a list of columns, instead of a string with one column name.

(
    df
    .sort_values(['trip_distance', 'total_amount'])  # first sort by trip_distance. If there's a tie, use total_amount to break it
    [['trip_distance', 'total_amount']]
    .head(10)
)

                      trip_distance  total_amount
tpep_pickup_datetime
2015-06-02 11:24:35             0.0          -3.3
2015-06-02 11:20:23             0.0           2.3
2015-06-02 11:19:46             0.0           3.3
2015-06-02 11:24:35             0.0           3.3
2015-06-02 11:23:46             0.0           3.3
2015-06-02 11:31:47             0.0           3.3
2015-06-02 11:28:53             0.0           3.3
2015-06-02 11:29:48             0.0           3.3
2015-06-02 11:31:46             0.0           3.3
2015-06-02 11:32:53             0.0           3.3

# There are some special methods that do this for us (in many ways)!

- `nsmallest`
- `nlargest`

Each of these methods runs on a series with just one optional argument, the value of *n*, for the "top n values."

In [21]:
df['trip_distance'].nsmallest()

tpep_pickup_datetime
2015-06-02 11:21:25    0.0
2015-06-02 11:19:46    0.0
2015-06-02 11:20:23    0.0
2015-06-02 11:24:33    0.0
2015-06-02 11:24:35    0.0
Name: trip_distance, dtype: float64

In [22]:
df['trip_distance'].nsmallest(12)

tpep_pickup_datetime
2015-06-02 11:21:25    0.0
2015-06-02 11:19:46    0.0
2015-06-02 11:20:23    0.0
2015-06-02 11:24:33    0.0
2015-06-02 11:24:35    0.0
2015-06-02 11:20:46    0.0
2015-06-02 11:23:16    0.0
2015-06-02 11:23:46    0.0
2015-06-02 11:24:27    0.0
2015-06-02 11:25:01    0.0
2015-06-02 11:29:32    0.0
2015-06-02 11:31:47    0.0
Name: trip_distance, dtype: float64

In [23]:
df['trip_distance'].nlargest(6)

tpep_pickup_datetime
2015-06-01 00:00:58    64.60
2015-06-01 00:04:50    60.30
2015-06-01 00:02:42    37.20
2015-06-02 11:21:03    35.51
2015-06-04 15:17:25    34.84
2015-06-01 00:01:19    32.40
Name: trip_distance, dtype: float64

In [24]:
# for an entire data frame, we need to specify the column(s) on which we're comparing ("columns")
# we can also specify the number we want with the "n" parameter

df.nlargest(columns='trip_distance', n=12)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.00,10.00,0.3,79.96
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.00,9.75,0.3,160.05
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.00,5.84,0.3,210.14
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.00,22.83,0.3,135.13
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.00,17.29,0.3,137.59
2015-06-01 00:01:19,2,2015-06-01 00:40:12,1,32.40,-73.781425,40.644905,2,N,-73.974174,40.731441,1,52.00,0.0,0.5,10.56,0.00,0.3,63.36
2015-06-02 11:28:58,1,2015-06-02 12:13:29,1,32.10,-73.873085,40.774124,4,N,-73.957283,41.098221,1,129.00,0.0,0.5,27.05,5.54,0.3,162.39
2015-06-01 00:00:13,1,2015-06-01 00:41:05,1,31.90,-73.875206,40.770382,5,N,-73.549629,41.043552,1,210.00,0.0,0.0,42.05,0.00,0.3,252.35
2015-06-01 00:09:14,1,2015-06-01 01:03:11,1,31.50,-73.802437,40.677372,5,N,-74.255424,40.745316,2,140.00,0.0,0.0,0.00,9.75,0.3,150.05
2015-06-01 00:00:16,2,2015-06-01 00:40:35,2,29.78,-73.781853,40.644711,2,N,-74.006905,40.707958,1,52.00,0.0,0.5,17.50,5.54,0.3,75.84
2015-06-01 00:09:29,1,2015-06-01 00:09:48,1,29.30,-74.172379,40.708874,5,N,-74.172585,40.709000,1,174.00,0.0,0.0,20.00,0.00,0.3,194.30
2015-06-02 11:25:26,1,2015-06-02 12:12:19,1,28.80,-73.806511,40.652756,2,N,-74.008339,40.741146,1,52.00,0.0,0.5,14.58,5.54,0.3,72.92

In [26]:
df.nsmallest(columns='tip_amount', n=12)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.0,0.0,0.3,10.3
2015-06-02 11:19:36,2,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.0,0.0,0.3,15.8
2015-06-02 11:19:38,2,2015-06-02 11:19:43,3,0.01,0.000000,0.000000,2,N,0.000000,0.000000,2,52.0,0.0,0.5,0.0,0.0,0.3,52.8
2015-06-02 11:19:40,2,2015-06-02 11:34:34,1,1.14,-73.950104,40.777283,1,N,-73.954102,40.763763,2,10.5,0.0,0.5,0.0,0.0,0.3,11.3
2015-06-02 11:19:41,2,2015-06-02 11:29:59,1,1.28,-73.992508,40.728512,1,N,-73.995743,40.740971,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8
2015-06-02 11:19:42,1,2015-06-02 11:22:33,2,0.60,-73.971939,40.781902,1,N,-73.978149,40.777328,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8
2015-06-02 11:19:44,1,2015-06-02 11:30:31,1,0.70,-73.958519,40.781433,1,N,-73.959229,40.774303,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8
2015-06-02 11:19:47,1,2015-06-02 11:26:48,1,1.10,-73.955643,40.776382,1,N,-73.960464,40.765522,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
2015-06-02 11:19:50,2,2015-06-02 11:38:54,1,1.94,-73.984970,40.744328,1,N,-73.967270,40.769188,2,12.5,0.0,0.5,0.0,0.0,0.3,13.3
2015-06-02 11:19:54,2,2015-06-02 11:29:50,1,0.94,-73.990471,40.751163,1,N,-73.986069,40.742367,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8
2015-06-02 11:19:55,1,2015-06-02 11:34:39,2,1.90,-73.990143,40.740814,1,N,-74.005508,40.723015,2,11.0,0.0,0.5,0.0,0.0,0.3,11.8

# Exercise: Olympic records

1. Get the Olympic data file from https://github.com/reuven/OReilly-2026-02February-pandas/blob/main/olympic_athlete_events.csv (i.e., the course's GitHub repo) and click on the "download" icon.
2. Find the 10 heaviest athletes to ever compete in the Olympics. What are their names, and what teams did they play for? Find this information first using `sort_values` and then using `nlargest`.
3. Find the 10 shortest athletes. How old were they, on average? Once again, do this once with `sort_values` and once with `nsmallest`.

In [28]:
df = pd.read_csv('olympic_athlete_events.csv')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [32]:
# Find the 10 heaviest athletes to ever compete in the Olympics. What are their names, and what teams did they play for? 
# Find this information first using sort_values and then using nlargest.

df['Weight'].dropna().sort_values().tail(10)

94362     176.5
94363     176.5
206004    178.0
206352    180.0
237040    182.0
237039    182.0
75031     190.0
205467    198.0
23155     214.0
23156     214.0
Name: Weight, dtype: float64

In [36]:
(
    df.sort_values('Weight')
    [['Weight', 'Name', 'Team']]
    .dropna()   # this removes every ROW with even 1 NaN value in it!
    .tail(10)
)

        Weight                           Name           Team
94362    176.5    Marcus Jerrold "Mark" Henry  United States
94363    176.5    Marcus Jerrold "Mark" Henry  United States
206004   178.0    Leonel Wilfredo Ruz Carmona      Venezuela
206352   180.0             Valentyn Rusliakov        Ukraine
237040   182.0  Christopher J. "Chris" Taylor  United States
237039   182.0  Christopher J. "Chris" Taylor  United States
75031    190.0                  Marek Galiski         Poland
205467   198.0              Aytami Ruano Vega          Spain
23155    214.0              Ricardo Blas, Jr.           Guam
23156    214.0              Ricardo Blas, Jr.           Guam

In [38]:
(
    df
    [['Weight', 'Name', 'Team']]
    .dropna(subset='Weight')   # only look at Weight; if it has a NaN value, then drop it
    .nlargest(columns='Weight', n=10)
)

        Weight                           Name           Team
23155    214.0              Ricardo Blas, Jr.           Guam
23156    214.0              Ricardo Blas, Jr.           Guam
205467   198.0              Aytami Ruano Vega          Spain
75031    190.0                  Marek Galiski         Poland
237039   182.0  Christopher J. "Chris" Taylor  United States
237040   182.0  Christopher J. "Chris" Taylor  United States
206352   180.0             Valentyn Rusliakov        Ukraine
206004   178.0    Leonel Wilfredo Ruz Carmona      Venezuela
94362    176.5    Marcus Jerrold "Mark" Henry  United States
94363    176.5    Marcus Jerrold "Mark" Henry  United States

In [40]:
# to remove duplicates, you can use the drop_duplicates method

(
    df
    [['Weight', 'Name', 'Team']]
    .dropna(subset='Weight')   # only look at Weight; if it has a NaN value, then drop it
    .drop_duplicates()
    .nlargest(columns='Weight', n=10)
)

        Weight                           Name           Team
23155    214.0              Ricardo Blas, Jr.           Guam
205467   198.0              Aytami Ruano Vega          Spain
75031    190.0                  Marek Galiski         Poland
237039   182.0  Christopher J. "Chris" Taylor  United States
206352   180.0             Valentyn Rusliakov        Ukraine
206004   178.0    Leonel Wilfredo Ruz Carmona      Venezuela
94362    176.5    Marcus Jerrold "Mark" Henry  United States
173166   175.0         Dmitry Yuryevich Nosov         Russia
39181    170.0     Andrey Ivanovich Chemerkin         Russia
168480   170.0             Illie Daniel Natea        Romania

In [44]:
# Find the 10 shortest athletes. How old were they, on average? Once again, do this once with sort_values and once with nsmallest.

(
    df.sort_values('Height')
    [['Height', 'Age']]
    .dropna()
    .head(10)
)

        Height   Age
164821   127.0  25.0
29338    127.0  15.0
29337    127.0  15.0
29336    127.0  15.0
29335    127.0  15.0
29334    127.0  15.0
29333    127.0  15.0
180615   128.0  21.0
159934   130.0  22.0
220270   130.0  28.0

In [45]:
# every method in Pandas takes a bunch of potential arguments that affect how it runs

(
    df
    .drop_duplicates(subset=['Name', 'Team'])
    .nlargest(columns='Height', n=10)
)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
265040,132627,Yao Ming,M,20.0,226.0,141.0,China,CHN,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
32376,16639,Tommy Loren Burleson,M,20.0,223.0,102.0,United States,USA,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,Silver
207373,104059,Arvydas Romas Sabonis,M,23.0,223.0,122.0,Soviet Union,URS,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,Gold
207374,104059,Arvydas Romas Sabonis,M,27.0,223.0,122.0,Lithuania,LTU,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,Bronze
17669,9407,Gunther Behnke,M,29.0,221.0,114.0,Germany,GER,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
59371,30409,Roberto Dueas Hernndez,M,24.0,221.0,137.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
269053,134621,Zhang Zhaoxu,M,24.0,221.0,110.0,China,CHN,2012 Summer,2012,Summer,London,Basketball,Basketball Men's Basketball,NaN
141983,71228,"Lucien James ""Luc"" Longley",M,19.0,220.0,135.0,Australia,AUS,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,NaN
181241,91087,Viktor Aleksandrovich Pankrashkin,M,31.0,220.0,112.0,Soviet Union,URS,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,Gold
240656,120589,Volodymyr Petrovych Tkachenko,M,18.0,220.0,110.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Basketball,Basketball Men's Basketball,Bronze

# Grouping

Let's say that I have my taxi data, and I want to find out the mean `trip_distance` when there is 1 passenger.

In [48]:
taxi_df = pd.read_csv('taxi.csv')

(
    taxi_df
    .loc[taxi_df['passenger_count'] == 1,   # row selector
        'trip_distance']  # column selector
    .mean()
)

np.float64(3.0923380047176354)